/*
  Michael Graham
  10/24/19
  Section AL - Tal Wolman
  HW2

  The is the stylesheet thats styles the content on set.html
 */

body, button, select, input {
  font-size: 12pt;
  font-family: "Helvetica", "Verdana", sans-serif;
}

.card p, body, button, select, input {
  text-align: center;
}

main {
  width: 80%;
  margin: auto;
}

button, select {
  padding: 8px;
  background-color: white;
  border: 2pt solid black;
}

h2 {
  text-decoration: underline;
}

h2, .card p {
  font-size: 16pt;
}

#start-btn {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#menu-view > article {
  background-color: #6F77ED;
  border-radius: 0.35em;
  border: 5pt solid black;
}

#menu-view > article, #details-bar {
  color: white;
}

#details-bar, #board, .card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#details-bar, .card {
  align-items: center;
}

#details-bar {
  background-color: black;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  font-size: 14pt;
}

.card {
  width: 220px;
  height: 95px;
  border-width: 0.35em;
  border-radius: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: black;
}

.card > img {
  height: 85%;
}

.selected {
  box-shadow: 6px 6px #636363;
}

.card p {
  font-weight: bold;
}

.hide-imgs img, .hidden {
  display: none;
}

#board {
  border-left-width: 5pt;
  border-right-width: 5pt;
  border-bottom-width: 5pt;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: black;
  padding: 20px;
}
